* {
    box-sizing: border-box;
}

.default-theme {

    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1;
    font-size: 15px;
    background-color: #eaeaea;
    min-height: 100%;
    width: 100%;
    padding: 0;

}
.default-theme .header {
    width: 100%;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    background-color: #2b2726;
    box-shadow: 0 0 5px
    var(rgb(0 0 0 / 20%))
    var(hsl(0deg 0% 100% / 15%));
    z-index: 999;
    max-height: 50px;
}
.post {
    word-break: break-word;
}
.default-theme .content {
    flex: 1;
    min-width: 320px;
}
.default-theme .content__wap {
    padding: 30px 0 20px;
    width: 605px;
    height: 2940px;
}


.default-theme .main {
    background-color: white;
    position: relative;
    display: flex;
    width: 98.182%;
    max-width: 876px;
    margin: 0 auto;
    box-shadow: 0 1px 1px var(--box-shadow-op1);
    min-height: 600px;
}
.main-menu {
    font-family: Arial,sans-serif;
    font-size: 12px;
    line-height: 1;
    color: #666;
    
}

.main-menu.header .container{
    width: 98.182%;
    max-width: 876px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    max-height: 40px;

}
.header-user-buttons {
    display: flex;
    align-items: center;
    margin-right: 16px;
    margin-left: auto;

}

h1 {
    padding: 0;
    margin: 0;
    color: #444;
    font-weight: 600;
    word-break: break-word;
    font-size: 2em;
}
h2 {
    padding: 0;
    margin: 0;
    color: #444;
    font-weight: 600;
    word-break: break-word;
}
p {
    margin: 0;
    margin-bottom: 1em;
}
.default-theme .sidebar {
    max-width: 272px;
    background-color: #f0f0f0;
    height: 3055px;
}
aside {
    display: block;
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;

}




.container ul {
    margin: 0px auto;
    padding: 0;
}

.container ul li {
    list-style: none;
    float: left;

}

.container ul li a {
    text-decoration: none;
    height: 40px;
    line-height: 40px;
    color: #FFF;
    padding: 0px 15px 0px 15px;
    text-align: center;

}



.main-menu .logo__img {
    min-width: 40px;
    width: 40px;
    display: block;
}
img {
    border-style: none;
}
img {
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    height: auto;
}
img {
    max-width:  100%;
    height: auto;
}

.vip-button {
    background: #d0ab32;
    font-family: inherit;
    font-size: 11px;
    color: #FFF;
    line-height: 25px;
    padding: 0px 14px;
    display: inline-block;
    vertical-align: middle;
    height: 21px;
    margin: 10px;
}
.login-button {
    background: linear-gradient(180deg,#62c462,#51a351);
    font-family: inherit;
    color: #FFF;
    line-height: 25px;
    padding: 0px 14px;
    display: inline-block;
    vertical-align: middle;
    height: 21px;
    font-size: 11px;
}



.main-menu .header-search {
    position: relative;
    order: 1;
}

.main-menu .header-search button {
    background: #00000000;
    cursor: pointer;
    border: none;
    outline: none;
}
.main-menu .nav-item .fa-down {
    margin-left: 5px;
    margin-top: 2px;
    opacity: .5;
    font-size: 19px;
    margin: 0 auto;
    padding-left: 4px;
    padding-bottom: 6px;

}
.main-menu .nav-item .fa-solid {
    margin-left: 5px;
    margin-top: 2px;
    opacity: .5;
    font-size: 10px;
    margin: 0 auto;
}
button {
    -webkit-appearance: button;
    
}

.main-menu .header-search__btn {
    height: 100%;
    padding: 14.5px 20px;
    box-shadow: -1px 0 0 hsl(0deg 0% 92% / 16%);
    overflow: hidden;
}
.main-menu .header-search__btn .fa-solid {
    color: white;
    font-size: 16px;
    overflow: visible;
    width: 1em;
    height: 1em;
    margin: 0 auto;
}
.main-menu .header-search__block {
    width: 240px;
    position: absolute;
    top: 100%;
    right: 0;
    background: #26272b;
    padding: 15px;
}
form {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;

}
.default-theme .search__input {
    position: relative;
}
.main-menu .search__input {
    position: relative;
}
.search__input .fa-solid {
    color: #ccc;
    line-height: 15px;
    font-size: 12px;
    position: absolute;
    left: 10px;
    top: 11px;
    height: 1em;
    vertical-align: -0.125em;
    text-align: center;
    margin: 0 auto;
    
}
.default-theme .search__input input {
    width: 100%;
    font-size: 11px;
    background: #fff;
    border: 2px solid #ddd;
    padding: 8px 8px 9px 26px;
    color: #999;
    transition: .3s;
    margin: 0 auto;
}
.main-menu ,.header-search input {
    outline: none;
    box-sizing: border-box;
}
input {
    overflow: visible;
    font-family: sans-serif;
    line-height: 1.15;
    margin: 0;
}

.main-menu .nav-list {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
}
.main-menu ul {
    margin: 0;
    padding: 0;
    list-style: none ;
}

.main-menu .nav-item {
    position: relative;
}
.main-menu li {
    margin: 0;
    padding: 0;
}
.main-menu .nav-item a {
    display: flex;
    font-size: 11px;
    padding: 15px 8px;
    color: hsl(0deg 0% 100% / 70%);
    cursor: pointer;
    line-height: 1em;
    justify-content: space-between;
}
.main-menu .sub-menu-box {
    position: absolute;
    width: 180px;
    top: 100%;
    left: 0;
    background-color: #26272b;
    max-height: 0;
    overflow: hidden;
    z-index: 1;
}
.main-menu a {
    text-decoration: none;
    box-sizing: border-box;
}
.main-menu .sub-menu-box .sub-menu {
    padding: 10px 0;
}
.main-menu .sub-menu-box .nav-item:not(:last-child) {
    box-shadow: 0 1px 0 hsl(0deg 0% 100% / 6%);

}.main-menu .nav-item .sub-menu a {
    font-size: 12px;
    line-height: 1em;
    padding: 10px 20px;
}

.default-theme .content__top {
    border-bottom: 1px solid #eee;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 30px 17px;
    flex-wrap: nowrap;
    max-width: 574px;
    max-height: 17px;

}

.content__top .content-title {
    font-size: 13px;
    line-height: 24px;
    text-transform: uppercase;
}
.content__top .content-title span {
    color: #aaa;
}

.default-theme .filter-select:last-of-type {
    margin-right: 0;
}

.default-theme .filter-select {
    font-family: inherit;
    font-size: 11px;
    padding: 0px 0px;
    border: 1px solid rgba(0, 128, 0, 0.712);
    margin-bottom: 2px;
    width: 141px;
    color: #444;
    background: #fff;
    
    
}

.default-theme .content__wrap-row:not(:last-child) {
    margin-bottom: 30px;
}
.default-theme .content__wrap-row {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    border-bottom: 1px solid #eee;
    padding: 0 30px;
    height: 455px;
}

.default-theme .post.post--full {
    width: 100%;
}
.default-theme .post {
    width: 47.85%;
    padding-bottom: 26px;
    position: relative;
}
.default-theme .post__img{
    position: relative;
    display: block;
    margin-bottom: 10px;
    
    transition: 1s ease;
    
    
}
.default-theme .post__img img {
    width: 100%;
    display: block;
}
.default-theme .post__meta {
    width: 545px;
    height: 46px;
    padding-top: 0;
}
.default-theme .post__category-link {
    color: #2d730a;
    font-size: 12px;
    line-height: 20px;
    font-weight: 380;
    text-transform: uppercase;
    text-decoration: none;

}
.default-theme .post__date {
    color: #bbb;
    font-size: 12px;
    line-height: 20px;
    font-weight: 380;
    text-transform: uppercase;

}
.default-theme .post:hover .post__title a {
    color: #2d730a;
}
.default-theme .post.post--full .post__title a {
    font-size: 24px;
}
.default-theme .post__title a {
    font-weight: 400;
    color: #2d730a;
    line-height: 1.5rem;
    font-size: 24px;
    text-decoration: none;
}
.share-this {
    word-break: normal;
    color: #000;
    font-size: 10px;
    margin: 1em 0;
}
.share-this .share-this-custom {
    display: block;
}
.share-this .share-this-custom .share-this-custom__item {
    display: inline-block;
}

.share-this .share-this-custom .share-this-custom__item .st-custom-button {
    cursor: pointer;
    position: relative;
    margin-bottom: 5px;
}
.share-this .share-this-custom .share-this-custom__item .st-custom-button img.share-btn-image{
    width: 50px;
    vertical-align: middle;
    margin-right: 3px;
}
.share-this .share-this-custom .share-this-custom__item .st-custom-button span.count {
    background-color: #FFF;
    padding: 4px 3px 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    vertical-align: middle;
    font-size: 7px;
    
}
.default-theme .post__text {
    font-size: 13px;
    color: #aaa;
    line-height: 1.5rem;

}
.default-theme .post__addition {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;

}
.default-theme .post__addition-left {
    left: 0;
    bottom: 0;

}
.default-theme .post__addition-left {
    position: absolute;
}
.default-theme .post__addition-right {
    right: 0;
    bottom: 0px;
}
.default-theme .post__addition-right {
    position: absolute;
}
.default-theme .post__addition-block {
    display: inline-block;
    background: #2d730a;
    font-size: 11px;
    color: #fff;
    padding: 5px 7px;
    pointer-events: none;
    cursor: pointer;
}
.default-theme .navigate-page a.next-page {
    float: right;
}
.default-theme .navigate-page .a:first-child, .default-theme .navigate-page a:last-child {
    padding: 0 30px;

}
.default-theme .navigate-page a {
    font-size: 16px;
    font-weight: 600;
    color: #2d730a;
    text-decoration: none;
    

}

.default-theme .sidebar__wrap {
    padding-bottom: 20px;
}
.default-theme .widget {
    padding: 25px 16px 15px;
}
.default-theme .sidebar-actions__btn-group {
    display: flex;
}
.default-theme .sidebar-actions__btn:not(:last-child) {
    margin-right: 10px;
}
.default-theme .sidebar-actions__btn {
    font-family: inherit;
    font-size: 12px;
    color: white;
    letter-spacing: .4px;
    background: rgba(0, 128, 0, 0.589);
    padding: 4px 14px;
    white-space: nowrap;
    text-decoration: none;
    text-align: center;
}
.default-theme .sidebar-toggle {
    display: none;
    width: 100%;
    height: 60px;
    align-items: center;
    justify-content: center;
    background-color: #2d730a;
    transform: scaleX(-1);

}
.default-theme .sidebar-actions__btn.bg--blue {
    background: #5bc0de;
}

.footer {
    align-items: center;
    justify-content: space-around;
    display: grid;
    grid-template: auto/1fr minmax(100px, 876px) 1fr;
    display: block;
    height: 150px;
}
.default-theme .footer {
    background-color: #26272b;
}
.footer {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}
::after {
    box-sizing: border-box;
}
::before {
    box-sizing: border-box;
}
.footer .footer__left-container {
    text-align: center;
}

 
.footer .ow_logo img {
    height: 80px;
}
.default-theme .footer .container {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 30px;
    padding-left: 90px;
}
.default-theme .container {
    mix-width: 1440px;
}
.footer .btn-top {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    width: 60px;
    height: 30px;
    background: #eaeaea;
    color: #777;
    text-align: center;
    border-radius: 0 0 3px 3px;
    box-shadow: inset 0 1px 0 rgba(0,0,0,0.05);
    overflow: hidden;
    transition: .2s ease;
    padding: 0;
    margin: 0;
    cursor: pointer;
    border: none;
    outline: none;

}

.footer .btn-top .fa {
    font-size: 38px;
    font-weight: 900;
    position: relative;
    top: -7px;
}
.svg-inline--fa , svg:not .svg-inline--fa{
    overflow: visible;
}
.svg-inline--fa.fa-w-10 {
    width: .625em;
}
.svg-inline--fa{
    display: block;
    font-size: inherit;
    height: 1em;
    vertical-align: -0.125em;
}
.default-theme .copyright {
    color: hsla(0,0%,100%,0.5);
    font-size: 15px;
    line-height: 1.5em;
   
    
}
.default-theme .copyright a {
    color: hsla(0,0%,100%,0.7);
    text-decoration: none;

}
.default-theme .copyright .copyright-links {
    text-align: center;
    display: flex;
    justify-content: space-between;
    margin-top: 1em;
}
.default-theme .footer .social {
    padding-top: 10px;
}
.default-theme .social {
    display: flex;
    align-items: center;
}
.default-theme .social__link:not(:last-child) {
    margin-right: 8px;
}
.default-theme .footer .social__link {
    width: 28px;
    height: 28px;
    font-size: 28px;
    color: hsla(0, 0%, 100%, 0.7)    ;
}
.default-theme .social {
    position: relative;
    color: hsla(0, 0%, 100%, 0.7);
    text-align: center;
    
}







